.wrapper {
  position: relative;
}

.title {
  position: relative;
  margin-left: calc(101 / 1440 * 100%);
  padding: 28px 0;
  font-size: 3rem;
  margin-bottom: 40px;
}

.title::after {
  content: "";
  position: absolute;
  left: -15px;
  border-left: 5px solid #159c63;
  height: 35px;
  top: 50%;
  transform: translateY(-50%);
}

// PC & Tablet
@media (min-width: 739px) {
}

// Mobile & Tablet
@media (max-width: 1023px) {
}

// Tablet
@media (min-width: 740px) and (max-width: 1023px) {
}

// Mobile
@media (max-width: 739px) {
  .title {
    padding: 20px 0;
    font-size: 3rem;
    margin-bottom: 10px;
  }
}
