.activity-item {
  padding: 20px 0 48px 52px;
  position: relative;
  font-size: 1.8rem;

  &::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #159c63;
    top: 25px;
    left: 0;
    transform: translateX(-60%);
  }

  h2 {
    font-size: 2.4rem;
    color: #159c63;
  }

  p:nth-child(1) {
    padding-bottom: 16px;
    font-style: italic;
    font-weight: 400;
  }

  p:nth-child(3) {
    padding-bottom: 8px;
    font-weight: bold;
  }

  ul {
    font-size: 1.6rem;
    font-weight: 400;
    padding-left: 35px;
  }
}

// PC & Tablet
@media (min-width: 739px) {
}

// Mobile & Tablet
@media (max-width: 1023px) {
}

// Tablet
@media (min-width: 740px) and (max-width: 1023px) {
  .activity-item {
    padding: 20px 0 48px 42px;
  }
}

// Mobile
@media (max-width: 739px) {
  .activity-item {
    padding: 20px 0 48px 32px;
  }
}
