.about-me {
  position: relative;
  width: calc(1158 / 1440 * 100%);
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  margin: -5.2% auto 64px auto;
}

.about-me-container {
  display: flex;
  padding: 41px 22px 41px 96px;
  align-items: center;

  .img {
    padding-right: 8%;
  }
}

.about-me-description {
  p {
    font-weight: 400;
    font-size: 1.6rem;
    letter-spacing: 0.05em;

    i {
      color: #159c63;
      font-weight: 500;
    }
  }

  p:nth-child(1) {
    font-weight: 700;
    font-size: 2.6rem;
  }

  p:nth-child(2) {
    font-weight: 500;
    font-size: 1.8rem;
  }
}

// PC & Tablet
@media (min-width: 739px) {
}

// Mobile & Tablet
@media (max-width: 1023px) {
  .img {
    display: none;
  }
}

// Tablet
@media (min-width: 740px) and (max-width: 1023px) {
  .about-me-container {
    padding: 20px 30px;
  }

  .about-me-description {
    p {
      font-size: 1.4rem;

      i {
        color: #159c63;
        font-weight: 500;
      }
    }

    p:nth-child(1) {
      font-size: 2.2rem;
    }

    p:nth-child(2) {
      font-size: 1.8rem;
    }
  }
}

// Mobile
@media (max-width: 739px) {
  .about-me {
    width: 90%;
    margin: -2.2% auto 64px auto;
  }

  .about-me-container {
    padding: 20px 15px;
  }

  .about-me-description {
    p {
      font-size: 1.2rem;

      i {
        color: #159c63;
        font-weight: 500;
      }
    }

    p:nth-child(1) {
      font-size: 2rem;
    }

    p:nth-child(2) {
      font-size: 1.6rem;
    }

    p:nth-child(4) {
      margin-bottom: 10px;
    }

    br {
      display: none;
    }
  }

  .btn {
    width: 100%;
    text-align: center;
  }
}
