.wrapper {
  position: relative;
  background-color: #000;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 20%;
}

.footer-contact {
  color: #eaeaea;
  font-size: 18px;
  padding-left: 18%;

  h2 {
    font-size: 28px;
    padding-bottom: 28px;
  }

  p:nth-child(2) {
    padding-bottom: 36px;
  }

  p:nth-child(3),
  p:nth-child(4) {
    padding-bottom: 4px;
  }
}

.footer-icon {
  font-size: 30px;
  transform: translateY(20%);
  margin-right: 16px;
}

.footer-btn {
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 24px;
  padding: 10px 23px;
  background-color: #eaeaea;
  display: inline-block;
  border-radius: 10px;
  color: #000;
  font-weight: 500;

  &:hover {
    opacity: 0.8;
  }
}

// PC & Tablet
@media (min-width: 739px) {
}

// Mobile & Tablet
@media (max-width: 1023px) {
}

// Tablet
@media (min-width: 740px) and (max-width: 1023px) {
  .footer-container {
    padding: 60px 8%;
  }
}

// Mobile
@media (max-width: 739px) {
  .footer-container {
    padding: 60px 8%;
  }

  .footer-img {
    display: none;
  }

  .footer-contact {
    padding-left: 0;
  }
}
