.activity-tree {
  width: 50%;
  margin: 0px auto 100px;
  border-left: 3px solid #298e64;
  z-index: 3;
}

// PC & Tablet
@media (min-width: 739px) {
}

// Mobile & Tablet
@media (max-width: 1023px) {
}

// Tablet
@media (min-width: 740px) and (max-width: 1023px) {
  .activity-tree {
    width: 70%;
  }
}

// Mobile
@media (max-width: 739px) {
  .activity-tree {
    width: 80%;
  }
}
