.wrapper {
  position: fixed;
  width: 100%;
  height: 56px;
  background-color: #fff;
  top: 0;
  z-index: 2;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border: none;
}

.logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 7%;
}

.nav-list {
  li {
    a {
      position: relative;
      color: #000;
      text-decoration: none;
      font-size: 1.6rem;
      padding-left: 48px;
      font-weight: bold;
    }
  }
}

// PC & Tablet
@media (min-width: 739px) {
  .mobile {
    display: none;
  }

  .nav-list {
    position: absolute;
    right: 7%;
    top: 50%;
    transform: translateY(-50%);

    li {
      display: inline-block;
      transition: 0.5s;
      a {
        &::before {
          content: "";
          position: absolute;
          bottom: -5px;
          height: 0.3rem;
          width: 0px;
          background-color: #159c63;
          transition: width 0.3s ease-in-out;
        }

        &:hover:before {
          width: 25px;
        }
      }
    }
  }
}

// Mobile & Tablet
@media (max-width: 1023px) {
}

// Tablet
@media (min-width: 740px) and (max-width: 1023px) {
  .nav-list {
    li {
      a {
        padding-left: 36px;
      }
    }
  }
}

// Mobile
@media (max-width: 739px) {
  .pc-tablet {
    display: none;
  }

  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.2rem;
  }

  .left-menu {
    position: fixed;
    left: -200px;
    width: 200px;
    height: 100%;
    background-color: #0e0d17;
    transition: all 0.5s ease-in-out;
    header {
      color: #fff;
      font-size: 1.8rem;
      margin-left: 20px;
      line-height: 60px;
    }
  }

  .left-menu ul {
    // margin-top: 8px;

    li {
      position: relative;
      height: 50px;
      width: 100%;
      line-height: 50px;
    }
    a {
      display: flex;
      align-items: center;
      font-size: 1.6rem;
      color: #fff;
      margin: 0 5px;
      border-radius: 4px;

      &:hover {
        color: #000;
        background-color: #fff;
      }
    }
  }

  .btn-menu-1,
  .btn-menu-2 {
    position: absolute;
    transition: all 0.5s ease-in-out;
  }

  .btn-menu-1 {
    top: 50%;
    left: 7%;
    transform: translateY(-50%);
    font-size: 3rem;
  }

  .btn-menu-2 {
    color: #fff;
    font-size: 2.6rem;
    z-index: 1111;
    left: -50px;
    top: 15px;
  }

  .check {
    display: none;
  }

  .check:checked ~ .left-menu {
    left: 0;
  }

  .check:checked ~ label .btn-menu-1 {
    left: 200px;
    opacity: 0;
    pointer-events: none;
  }

  .check:checked ~ label .btn-menu-2 {
    left: 160px;
  }
}
